body {
    height: 100vh;
    margin: 0;
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

#mapid {
    position: relative;
    width: 78%; /* Ajuste a largura do mapa conforme necessário */
    height: 90%; /* Ajuste a altura do mapa conforme necessário */
    margin-left: auto; /* Posiciona o mapa à direita */
    border-radius: 10px; /* Adiciona bordas arredondadas */
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse as bordas arredondadas */
    
}

#userSelection {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(26, 26, 26, 0.8);
    padding: 5px;
    border-radius: 5px;
}