body {
    height: 100vh;
    margin: 0;
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

#mapWrapper {
    position: relative;
    height: 100%;
}

#userSelection {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(26, 26, 26, 0.8);
    padding: 5px;
    border-radius: 5px;
}

#mapContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

#mapid {
    position: relative;
    width: 74%; /* Ajuste a largura do mapa conforme necessário */
    height: 95%; /* Ajuste a altura do mapa conforme necessário */
    border-radius: 10px; /* Adiciona bordas arredondadas */
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse as bordas arredondadas */
}

/* Adicione consultas de mídia para dispositivos menores */
@media screen and (max-width: 768px) {
    #userSelection {
        top: 10px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    #mapContainer {
        justify-content: center;
    }

    #mapid {
        width: 95%; /* Ajuste a largura do mapa para dispositivos menores */
    }
}